:root{
	--escala: 600px;
	--giroRuleta: 0deg;
}
*{
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

body{
	background: radial-gradient(circle, rgba(230,228,198,1) 4%, rgba(137,191,156,1) 62%, rgba(29,141,125,1) 100%);
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1{
	text-align: center;
	user-select: none;
}

#container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#ruleta{
	position: relative;
	box-sizing: border-box;
	height: var(--escala);
	width: var(--escala);
	border: 2px solid black;
	border-radius: 50%;
	overflow: hidden;
}

#ruleta img{
	position: absolute;
	left: 0;
	transform:rotate(90deg);
	width: var(--escala);
	z-index: 10;
	opacity: 80%;
	pointer-events: none;
}

#tituloForm{
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	text-decoration: underline;
	gap: 40px;
}

#opcionesContainer{
	transform-origin: center;
}

#formContainer{
	display: flex;
	flex-direction: column;
}

#formContainer div{
	display: flex;
}

#formContainer div label{
	margin-right: auto;
}

#marcador{
	position: absolute;
	z-index: 10;
	top: -20px;
	background-color: black;
	height: 100px;
	width: 5px;
	pointer-events: none;
}

#sortear{
	position: absolute;
	background-color: rgb(255, 76, 76);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	top: calc(var(--escala) / 2 - 60px / 2 );
	left: calc(var(--escala) / 2 - 60px / 2 );
	z-index: 2;
	text-align: center;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.opcion{
	position: absolute;
	top: 0px;
	left: 0px;
	height: var(--escala);
	width: var(--escala);
	background-color: var(--color);
	transform: rotate( var(--deg));
	cursor: pointer;
}

/* Texto de opcion*/
.nombre{
	margin: 0;
	padding-top: 30px;
	color: white;
	text-align: center;
	height: calc(var(--escala) / 2);
	position: absolute;
	/*bottom: 80%;*/
	top: -0%;
	left: calc(var(--escala) / 4 );
	transform-origin: bottom center;
	font-size: calc(var(--escala) / 25 );
	text-overflow: clip;
	pointer-events: none;
}

.separador{
	position: absolute;
	left: calc(var(--escala) / 2 - 1px);
	height: calc(var(--escala) / 2);;
	width: 4px;
	transform-origin: center bottom;
	background-color: rgb(0, 0, 0);
	z-index: 1;
	border-radius: 2px;
}


.girar{
	animation-name: girar;
	animation-duration: 5s;
	animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

#cartelGanador{
	position: absolute;
	left: -150px;
	top: -40px;
	background-color: rgba(29,141,125,1);
	min-height: 55px;
	width: 300px;
	font-weight: bold;
}

dialog{
	border:unset;
	border-radius: 10px;
	opacity: 95%;
	padding: 30px;
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

dialog::backdrop{
	backdrop-filter: blur(2px);
}

dialog input[type=number]{
	max-width: 50px;
}

dialog #agregar{
	display: block;
	margin: auto;
}

@keyframes girar {
	100%{
		transform: rotate( var(--giroRuleta) );
	}
}

footer{
	user-select: none;
}